<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
<div class="col-xs-12">

		
	<div class="carousel slide" id="myCarousel">
		<div class="carousel-inner">
			<div class="item active">
					<ul class="thumbnails">
						<li class="col-sm-3">
							<div class="fff">
								<div class="thumbnail">
									<a href="#"><img src="http://placehold.it/360x240" alt=""></a>
								</div>
								<div class="caption">
									<h4>Location</h4>
									<p>Discription about the location</p>
									<a class="btn btn-mini" href="#">» Read More</a>
								</div>
							</div>
						</li>
						<li class="col-sm-3">
							<div class="fff">
								<div class="thumbnail">
									<a href="#"><img src="http://placehold.it/360x240" alt=""></a>
								</div>
								<div class="caption">
									<h4>Location</h4>
									<p>Discription about the location</p>
									<a class="btn btn-mini" href="#">» Read More</a>
								</div>
							</div>
						</li>
						<li class="col-sm-3">
							<div class="fff">
								<div class="thumbnail">
									<a href="#"><img src="http://placehold.it/360x240" alt=""></a>
								</div>
								<div class="caption">
									<h4>Location</h4>
									<p>Discription about the location</p>
									<a class="btn btn-mini" href="#">» Read More</a>
								</div>
							</div>
						</li>
						<li class="col-sm-3">
							<div class="fff">
								<div class="thumbnail">
									<a href="#"><img src="http://placehold.it/360x240" alt=""></a>
								</div>
								<div class="caption">
									<h4>Location</h4>
									<p>Discription about the location</p>
									<a class="btn btn-mini" href="#">» Read More</a>
								</div>
							</div>
						</li>
					</ul>
			</div><!-- /Slide1 --> 
		</div>
	<!-- /.control-box -->   
							
	</div><!-- /#myCarousel -->
		
</div><!-- /.col-xs-12 -->          

</div><!-- /.container -->